# 3 Sorting with sort

In [1]:
!ls

5_filtering_and_processing_text.ipynb  math_grades	   physics_grades
math_attendance			       physics_attendance

In [2]:
!cat math_grades

clark 50
bruce 61
steve 43
jonathan 100
logan 19
peter 78
tony 92

In [3]:
!sort math_grades

bruce 61
clark 50
jonathan 100
logan 19
peter 78
steve 43
tony 92

In [4]:
!sort -k2 math_grades  # -k2: 第二列(key),字符串ascii码

jonathan 100
logan 19
steve 43
clark 50
bruce 61
peter 78
tony 92

In [5]:
!sort -nk2 math_grades  # -n: 按数字解析排序

logan 19
steve 43
clark 50
bruce 61
peter 78
tony 92
jonathan 100

In [6]:
!sort -rnk2 math_grades  # -r: 颠倒排序

jonathan 100
tony 92
peter 78
bruce 61
clark 50
steve 43
logan 19

In [7]:
!cat math_attendance

lecture 1
clark
peter
tony
bruce
steve
jonathan
logan

lecture 2
clark
peter
steve
jonathan
logan

lecture 3
clark
peter
tony

lecture 4
clark
peter
bruce
steve
logan

lecture 5
clark
peter
tony
bruce
steve
jonathan

In [8]:
!sort math_attendance  # 空行也读取

bruce
bruce
bruce
clark
clark
clark
clark
clark
jonathan
jonathan
jonathan
lecture 1
lecture 2
lecture 3
lecture 4
lecture 5
logan
logan
logan
peter
peter
peter
peter
peter
steve
steve
steve
steve
tony
tony
tony

In [9]:
!sort math_attendance | uniq

bruce
clark
jonathan
lecture 1
lecture 2
lecture 3
lecture 4
lecture 5
logan
peter
steve
tony

In [10]:
!sort math_attendance | uniq -c  # 空行出现5次

      5
      3 bruce
      5 clark
      3 jonathan
      1 lecture 1
      1 lecture 2
      1 lecture 3
      1 lecture 4
      1 lecture 5
      3 logan
      5 peter
      4 steve
      3 tony

In [11]:
!sort math_attendance |uniq -c |sort -nr

      5 peter
      5 clark
      5
      4 steve
      3 tony
      3 logan
      3 jonathan
      3 bruce
      1 lecture 5
      1 lecture 4
      1 lecture 3
      1 lecture 2
      1 lecture 1

# 4 Head and Tail

In [12]:
!ls -lS /var/log/  # 按照文件size从大到小排序

total 5772
-rw-------. 1 root   root   1690900 Apr  7 09:30 messages-20190407
-rw-------. 1 root   root   1456895 Apr  1 10:30 messages-20190401
-rw-------. 1 root   root    569215 Apr 15 08:30 messages-20190415
-rw-------. 1 root   root    491185 Apr 24 16:20 messages
-rw-r--r--. 1 root   root    292292 Apr 24 16:13 lastlog
-rw-r--r--. 1 mysql  mysql   153713 Apr 24 16:09 mysqld.log
-rw-------. 1 root   root    145582 Apr 21 08:10 messages-20190421
-rw-r--r--. 1 root   root    126135 Apr 24 16:09 dmesg
-rw-r--r--. 1 root   root    126069 Apr 21 12:21 dmesg.old
-rw-rw-r--. 1 root   utmp    113280 Apr 24 16:13 wtmp
-rw-------. 1 root   root    111683 Apr  7 09:38 boot.log-20190407
-rw-r--r--. 1 root   root     75021 Apr 24 16:09 vmware-vmsvc.log
-rw-------. 1 root   root     48076 Apr  7 09:38 cron-20190407
-rw-r--r--. 1 root   root     47544 Apr 24 16:09 Xorg.0.log.old
-rw-------. 1 root   root     46948 Apr 21 08:13 cron-20190421
-rw-------. 1 root   root     46346 Apr 15 08:35 cron-20190415
-rw-------. 1 root   root     45731 Apr  7 08:53 secure-20190407
-rw-r--r--. 1 root   root     44869 Apr 24 16:11 Xorg.0.log
-rw-------. 1 root   root     40892 Apr  1 10:33 cron-20190401
-rw-r--r--. 1 root   root     33743 Apr  6 16:37 vmware-install.log
-rw-r--r--. 1 root   root     33505 Apr 24 16:09 redis_6379.log
-rw-r--r--. 1 root   root     29026 Apr 24 16:09 vmware-vgauthsvc.log.0
-rw-------. 1 root   root     28743 Apr 24 16:20 cron
-rw-------. 1 root   root     28722 Mar 26 10:07 boot.log-20190326
-rw-------. 1 root   root     18556 Apr 14 19:33 yum.log
-rw-------. 1 root   root     14652 Mar 29 17:55 secure-20190401
-rw-------. 1 root   root     14610 Apr 15 08:35 boot.log-20190415
-rw-------. 1 root   root     14455 Apr 11 10:37 boot.log-20190411
-rw-------. 1 root   root     14394 Apr 22 09:12 boot.log-20190422
-rw-------. 1 root   root     14386 Mar 28 10:19 boot.log-20190328
-rw-------. 2 root   root     14292 Apr 24 16:09 boot.log
-rw-------. 1 root   root     13954 Mar 25 10:12 boot.log-20190325
-rw-------. 1 root   root     13002 Apr 14 19:41 secure-20190415
-rw-------. 1 root   root      6782 Apr 24 16:13 secure
-rw-r--r--. 1 root   root      5283 Apr 14 19:23 vmware-network.6.log
-rw-r--r--. 1 root   root      5275 Apr  6 20:13 vmware-network.9.log
-rw-------. 1 root   root      4899 Apr 20 21:43 secure-20190421
-rw-r--r--. 1 root   root      4132 Apr 13 12:49 vmware-network.7.log
drwxr-xr-x. 2 root   root      4096 Apr 23 05:50 sa
-rw-------. 1 root   root      2591 Apr  6 15:15 grubby
-rw-------. 1 root   root      1134 Apr  6 19:43 maillog-20190407
-rw-------. 1 root   root       752 Mar 27 17:50 maillog-20190401
-rw-r--r--. 1 root   root       700 Apr 24 16:09 vmware-network.1.log
-rw-r--r--. 1 root   root       700 Apr 21 12:20 vmware-network.3.log
-rw-r--r--. 1 root   root       700 Apr 14 19:40 vmware-network.5.log
-rw-r--r--. 1 root   root       678 Apr 21 12:21 vmware-network.2.log
-rw-r--r--. 1 root   root       678 Apr 14 19:40 vmware-network.4.log
-rw-r--r--. 1 root   root       678 Apr 11 09:42 vmware-network.8.log
-rw-r--r--. 1 root   root       678 Apr 24 16:09 vmware-network.log
-rw-r--r--. 1 root   root       640 Apr 24 16:09 wpa_supplicant.log
-rw-------. 1 root   utmp       384 Apr  6 15:23 btmp
-rw-------. 1 root   root       376 Apr 24 16:09 maillog
-rw-------. 1 root   root       376 Apr 14 19:40 maillog-20190415
drwxr-xr-x. 2 root   root       204 Mar  6 17:47 anaconda
drwx--x--x. 2 root   gdm        202 Apr 24 16:09 gdm
-rw-r--r--. 1 root   root       193 Mar  6 17:40 grubby_prune_debug
drwxr-xr-x. 2 lp     sys        165 Apr 21 08:13 cups
drwxr-x---. 2 sssd   sssd       142 Mar 19 19:48 sssd
drwx------. 4 root   root        62 Apr  6 19:49 samba
drwxr-xr-x. 2 root   root        26 Mar  6 17:47 vmware
drwx------. 2 root   root        23 Mar  6 17:47 audit
drwxr-xr-x. 2 root   root        23 Mar 14 18:32 tuned
drwxr-xr-x. 3 root   root        21 Mar  6 17:41 swtpm
drwx------. 3 root   root        18 Mar 14 18:25 libvirt
drwxr-xr-x. 3 root   root        18 Mar  6 17:41 pluto
drwxr-xr-x. 2 chrony chrony       6 Apr 13  2018 chrony
drwxr-xr-x. 2 root   root         6 Nov  5 00:56 glusterfs
drwxr-xr-x. 2 ntp    ntp          6 Apr 13  2018 ntpstats
drwx------. 2 root   root         6 Jun 10  2014 ppp
drwxr-xr-x. 2 root   root         6 Oct 31 05:29 qemu-ga
drwxr-xr-x. 2 root   root         6 Mar  6 17:47 rhsm
drwx------. 2 root   root         6 Jun 10  2014 speech-dispatcher
-rw-------. 1 root   utmp         0 Mar  6 17:40 btmp-20190401
-rw-r--r--. 1 root   root         0 Mar  6 17:47 firewalld
-rw-------. 1 root   root         0 Apr 15 08:35 maillog-20190421
-rw-------. 1 root   root         0 Apr 21 08:13 spooler
-rw-------. 1 root   root         0 Mar 24 10:45 spooler-20190401
-rw-------. 1 root   root         0 Apr  1 10:33 spooler-20190407
-rw-------. 1 root   root         0 Apr  7 09:38 spooler-20190415
-rw-------. 1 root   root         0 Apr 15 08:35 spooler-20190421
-rw-------. 1 root   root         0 Mar  6 17:40 tallylog

In [13]:
!ls -lS /var/log/ |head

total 5772
-rw-------. 1 root   root   1690900 Apr  7 09:30 messages-20190407
-rw-------. 1 root   root   1456895 Apr  1 10:30 messages-20190401
-rw-------. 1 root   root    569215 Apr 15 08:30 messages-20190415
-rw-------. 1 root   root    491185 Apr 24 16:20 messages
-rw-r--r--. 1 root   root    292292 Apr 24 16:13 lastlog
-rw-r--r--. 1 mysql  mysql   153713 Apr 24 16:09 mysqld.log
-rw-------. 1 root   root    145582 Apr 21 08:10 messages-20190421
-rw-r--r--. 1 root   root    126135 Apr 24 16:09 dmesg
-rw-r--r--. 1 root   root    126069 Apr 21 12:21 dmesg.old

In [14]:
!ls -lS /var/log/ |head -n 1  # 只展示第一行

total 5772

In [21]:
!ls -lS /var/log/ |head -n 2

total 5772
-rw-------. 1 root   root   1690900 Apr  7 09:30 messages-20190407

In [16]:
!ls -lrS /var/log/ |tail -n 1

-rw-------. 1 root   root   1690900 Apr  7 09:30 messages-20190407

In [24]:
!ls -lrS /var/log/ |head -n 1

total 5772

In [18]:
!ls -lS /var/log/ |head -n 2 |tail -n 1

-rw-------. 1 root   root   1690900 Apr  7 09:30 messages-20190407

In [27]:
!ls -lrS /var/log/ |tail -n 1

-rw-------. 1 root   root   1690900 Apr  7 09:30 messages-20190407

In [29]:
!ls -lrt /var/log/ |tail -n 1  # -t: 按修改时间排序

-rw-------. 1 root   root    491399 Apr 24 16:24 messages

In [31]:
# tail -f  # follows newly appended data

# 5 Counting with wc

In [32]:
!wc math_attendance  # num of lines, num of words, num of biyes

 36  36 217 math_attendance

In [33]:
!wc -l math_attendance  # just num of lines

36 math_attendance

In [34]:
ls |wc -l  # 当前目录下的文件数量

5

In [36]:
ls -a |wc -l  # 当前目录下的文件数量，包括隐藏文件和'.', '..'

8

# 6 Searching for Text with grep

In [37]:
!grep Rings oscars.tsv  # 匹配包含'Rings'的行

The Lord of the Rings: The Two Towers	2002	2	6
The Lord of the Rings: The Fellowship of the Ring	2001	4	13
The Lord of the Rings: The Return of the King	2003	11	11

In [38]:
!grep bruce *grades

math_grades:bruce 61
physics_grades:bruce 99

In [39]:
!grep steve *grades

math_grades:steve 43

In [42]:
!cat physics_grades

clark 55
peter 70
tony 99
bruce 99
Steve 33
jonathan 100
logan 45

In [43]:
!grep -i steve *grades  # -i: 不区分大小写

math_grades:steve 43
physics_grades:Steve 33

In [44]:
!sort math_attendance |uniq

bruce
clark
jonathan
lecture 1
lecture 2
lecture 3
lecture 4
lecture 5
logan
peter
steve
tony

In [50]:
!grep -v lecture math_attendance |sort |uniq -c  # -v: 过滤剔除匹配行

      5
      3 bruce
      5 clark
      3 jonathan
      3 logan
      5 peter
      4 steve
      3 tony

In [51]:
!grep -v "^$" math_attendance |sort |uniq -c  # -v: 过滤空行

      3 bruce
      5 clark
      3 jonathan
      1 lecture 1
      1 lecture 2
      1 lecture 3
      1 lecture 4
      1 lecture 5
      3 logan
      5 peter
      4 steve
      3 tony

In [52]:
!grep -Ev "^$|lecture" math_attendance |sort |uniq -c  # -E: 支持正则表达式扩展(Extention)，过滤空行或包含'lecture'的行

      3 bruce
      5 clark
      3 jonathan
      3 logan
      5 peter
      4 steve
      3 tony

In [55]:
!ls -l ~

total 8
drwxrwxr-x. 24 hadoop hadoop 4096 Mar  9 11:34 anaconda3
-rw-rw-r--.  1 hadoop hadoop    0 Apr 24 17:16 a.txt
-rw-rw-r--.  1 hadoop hadoop    0 Apr 24 17:16 b.txt
-rw-rw-r--.  1 hadoop hadoop    0 Apr 24 17:16 c.txt
drwxr-xr-x.  2 hadoop hadoop    6 Apr 24 16:04 Desktop
drwxr-xr-x.  6 hadoop hadoop  130 Apr 24 07:38 Documents
drwxr-xr-x.  2 hadoop hadoop   22 Apr 24 16:04 Downloads
-rw-rw-r--.  1 hadoop hadoop    0 Apr 24 17:16 d.txt
drwxr-xr-x.  2 hadoop hadoop    6 Mar  6 17:47 Music
drwxr-xr-x.  2 hadoop hadoop    6 Mar  6 17:47 Pictures
drwxr-xr-x.  2 hadoop hadoop    6 Mar  6 17:47 Public
drwxrwxr-x. 14 hadoop hadoop 4096 Apr 10 00:30 PycharmProjects
drwxrwxr-x.  2 hadoop hadoop   26 Apr 10 17:22 seaborn-data
drwxrwxr-x.  4 hadoop hadoop   49 Apr 24 16:13 Softwares
drwxr-xr-x.  2 hadoop hadoop    6 Mar  6 17:47 Templates
drwxr-xr-x.  2 hadoop hadoop    6 Mar  6 17:47 Videos
drwxr-xr-x.  9 hadoop hadoop  175 Aug 12  2015 vmware-tools-distrib

In [61]:
!ls -l ~ |grep "^d"  # 只显示以'd'开头的行

drwxrwxr-x. 24 hadoop hadoop 4096 Mar  9 11:34 anaconda3
drwxr-xr-x.  2 hadoop hadoop    6 Apr 24 16:04 Desktop
drwxr-xr-x.  6 hadoop hadoop  130 Apr 24 07:38 Documents
drwxr-xr-x.  2 hadoop hadoop   22 Apr 24 16:04 Downloads
drwxr-xr-x.  2 hadoop hadoop    6 Mar  6 17:47 Music
drwxr-xr-x.  2 hadoop hadoop    6 Mar  6 17:47 Pictures
drwxr-xr-x.  2 hadoop hadoop    6 Mar  6 17:47 Public
drwxrwxr-x. 14 hadoop hadoop 4096 Apr 10 00:30 PycharmProjects
drwxrwxr-x.  2 hadoop hadoop   26 Apr 10 17:22 seaborn-data
drwxrwxr-x.  4 hadoop hadoop   49 Apr 24 16:13 Softwares
drwxr-xr-x.  2 hadoop hadoop    6 Mar  6 17:47 Templates
drwxr-xr-x.  2 hadoop hadoop    6 Mar  6 17:47 Videos
drwxr-xr-x.  9 hadoop hadoop  175 Aug 12  2015 vmware-tools-distrib

In [63]:
!ls -l ~ |grep -v "^d"  # 不显示以'd'开头的行

total 8
-rw-rw-r--.  1 hadoop hadoop    0 Apr 24 17:16 a.txt
-rw-rw-r--.  1 hadoop hadoop    0 Apr 24 17:16 b.txt
-rw-rw-r--.  1 hadoop hadoop    0 Apr 24 17:16 c.txt
-rw-rw-r--.  1 hadoop hadoop    0 Apr 24 17:16 d.txt

# 7 Searching for Files with find

In [64]:
!find .

.
./.ipynb_checkpoints
./.ipynb_checkpoints/5_filtering_and_processing_text-checkpoint.ipynb
./math_grades
./physics_attendance
./math_attendance
./physics_grades
./5_filtering_and_processing_text.ipynb
./oscars.tsv

In [68]:
!find . -name 'math*'

./math_grades
./math_attendance

In [69]:
# find . -name '*txt' -exec grep -l curious {} \;

# 8 Replacing characters with tr

In [70]:
!cat physics_grades

clark 55
peter 70
tony 99
bruce 99
Steve 33
jonathan 100
logan 45

In [72]:
!tr S s physics_grades  # tr通过输入流进行操作，不能直接给文件名参数

tr: extra operand ‘physics_grades’
Try 'tr --help' for more information.

In [75]:
!cat physics_grades | tr S s  # 把输入流中的'S'替换为's', 原文件不变

clark 55
peter 70
tony 99
bruce 99
steve 33
jonathan 100
logan 45

In [76]:
!cat physics_grades

clark 55
peter 70
tony 99
bruce 99
Steve 33
jonathan 100
logan 45

In [79]:
!tr S s < physics_grades  # 原文件不变

clark 55
peter 70
tony 99
bruce 99
steve 33
jonathan 100
logan 45

In [80]:
!cat physics_grades

clark 55
peter 70
tony 99
bruce 99
Steve 33
jonathan 100
logan 45

In [81]:
!grep ; oscars.tsv  # ;是命令分隔符

Usage: grep [OPTION]... PATTERN [FILE]...
Try 'grep --help' for more information.
/usr/bin/sh: oscars.tsv: command not found

In [83]:
!grep \; oscars.tsv  # 需要\转义，查找文件中是否有';'字符

In [86]:
!tail oscars.tsv

My Fair Lady	1964	8	12
On the Waterfront	1954	8	12
Slumdog Millionaire	2008	8	10
Gigi	1958	9	9
The English Patient	1996	9	12
The Last Emperor	1987	9	9
West Side Story	1961	10	11
Ben-Hur	1959	11	12
The Lord of the Rings: The Return of the King	2003	11	11
Titanic	1997	11	14

In [87]:
!tr \\t \; < oscars.tsv > oscars.csv  # \t表示tab，需要\转义，修改文件之后保存

In [89]:
!tail oscars.csv

My Fair Lady;1964;8;12;;
On the Waterfront;1954;8;12;;
Slumdog Millionaire;2008;8;10;;
Gigi;1958;9;9;;
The English Patient;1996;9;12;;
The Last Emperor;1987;9;9;;
West Side Story;1961;10;11;;
Ben-Hur;1959;11;12;;
The Lord of the Rings: The Return of the King;2003;11;11;;
Titanic;1997;11;14;;